
.container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
}


.create_box {
    width: 70%;
    height: 70%;
    margin: 3%;
    margin:3%;
}


    .create_box .fhusi_box {
        height: 50px;
        background-color: #B7386E;
    }



        .create_box .fhusi_box .titlebox {
            font-family: Segoe UI;
            font-size: large;
            padding: 1.2%;
            color: white;
            font-weight: bold;
        }



    .create_box .create_content_box {
        height: 90%;
        width: 100%;
    }

        .create_box .create_content_box .section {
            width: 100%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            align-content: center;
        }

            .create_box .create_content_box .section .left {
                width: 28%;
                padding-top: 1%;
                padding-bottom: 1%;
            }

                .create_box .create_content_box .section .left .title {
                    font-weight: bold;
                    font-family: Segoe UI;
                }

            .create_box .create_content_box .section .right {
                width: 68%;
                padding-top: 1%;
                padding-bottom:1%;
            }

                .create_box .create_content_box .section .right .inputele {
                    font-family: Segoe UI;
                    width: 100%;
                    padding: 1%;
                    border: none;
                    border-bottom-style: solid;
                    border-bottom-color: lightgray;
                    border-bottom-width: 1px;
                    background-color:whitesmoke;
                    }

                    .create_box .create_content_box .section .right .inputele:focus {
                        border: none;
                        background-color: whitesmoke;
                        -webkit-box-shadow: 0px 10px 0px -6px rgba(183,56,110,1);
                        -moz-box-shadow: 0px 10px 0px -6px rgba(183,56,110,1);
                        box-shadow: 0px 10px 0px -6px rgba(183,56,110,1);
                    }

    .btn_section{
        margin:2%;
       width:150px;
       background-color:dimgrey;
       color:white;
       padding:3%;
       text-align:center;
       cursor:pointer;
    }

    .btn_section:hover{
        box-shadow:2px 2px 4px gray;
    }