body {
}

.box{

}

.testt{
    width:200px;
    border:solid 1px gray;
    border-radius:10px;
    background-color:whitesmoke;
    padding:1%;
    font-family:'Century Gothic';
    text-align:center;
}